<m-container>
    <h1> Add Session </h1>
    <button (click)="goToAddCourse()">Go to Add Course</button>
    <form class ="pure-form pure-form-aligned" #userForm="ngForm">
        <fieldset>
            <div class=" pure-control-group">
                <label for="abuslot"> Abu Dhabi Slot </label>
                <select id="abuslot" name="abuslot" [(ngModel)]="abuDhabiGrid.slot" required>
                    <option value="" disabled selected> Select A Session </option>
                    <option value = "abuSlot 1"> Slot 1</option>
                    <option value = "abuSlot 2"> Slot 2</option>
                    <option value = "abuSlot 3"> Slot 3</option>
                    <option value = "abuSlot 4"> Slot 4</option>
                    <option value = "abuSlot 5"> Slot 5</option>
                    <option value = "abuSlot 6"> Slot 6</option>
                    <option value = "abuSlot 7"> Slot 7</option>
                    <option value = "abuSlot 8"> Slot 8</option>
                    <option value = "abuSlot 9"> Slot 9</option>
                    <option value = "abuSlot 10"> Slot 10</option>
                    <option value = "abuSlot 11"> Slot 11</option>
                    <option value = "abuSlot 12"> Slot 12</option>
                    <option value = "abuSlot 13"> Slot 13</option>
                    <option value = "abuSlot 14"> Slot 14</option>
                </select>
                <span class="error-message" *ngIf="userForm.submitted && userForm.controls['abuSlot'].invalid">
                    <small *ngIf="userForm.controls['slot'].errors?.['required']"> Required </small>
                </span>
            </div>

            <div class=" pure-control-group">
                <label for="ainslot"> Al Ain Slot </label>
                <select id="ainslot" name="ainslot" [(ngModel)]="alAinGrid.slot" required>
                    <option value="" disabled selected> Select A Session </option>
                    <option value = "ainslot 1"> Slot 1</option>
                    <option value = "ainslot 2"> Slot 2</option>
                    <option value = "ainslot 3"> Slot 3</option>
                    <option value = "ainslot 4"> Slot 4</option>
                    <option value = "ainslot 5"> Slot 5</option>
                    <option value = "ainslot 6"> Slot 6</option>
                    <option value = "ainslot 7"> Slot 7</option>
                    <option value = "ainslot 8"> Slot 8</option>
                    <option value = "ainslot 9"> Slot 9</option>
                    <option value = "ainslot 10"> Slot 10</option>
                    <option value = "ainslot 11"> Slot 11</option>
                    <option value = "ainslot 12"> Slot 12</option>
                    <option value = "ainslot 13"> Slot 13</option>
                    <option value = "ainslot 14"> Slot 14</option>
                </select>
                <span class="error-message" *ngIf="userForm.submitted && userForm.controls['slot'].invalid">
                    <small *ngIf="userForm.controls['slot'].errors?.['required']"> Required </small>
                </span>
            </div>

            <div class="pure-control-group">
                <label for="abudaypattern"> Abu Dhabi Day Pattern</label>
                <input required pattern = "^(MW|TR)-(1[0-4]|[1-9])$" type="text" id="abudaypattern" [(ngModel)]="abuDhabiGrid.daypattern" name="abudaypattern" #abudaypatterncontrol="ngModel" placeholder="MW or TR">
                <span class="error-message" *ngIf="abudaypatterncontrol.invalid && abudaypatterncontrol.touched">
                    <small *ngIf="abudaypatterncontrol.errors?.['required']"> Required </small>
                </span>
            </div>

            <div class="pure-control-group">
                <label for="aindaypattern"> Al Ain Day Pattern</label>
                <input required pattern = "^(MW|TR)-(1[0-4]|[1-9])$" type="text" id="aindaypattern" [(ngModel)]="alAinGrid.daypattern" name="aindaypattern" #aindaypatterncontrol="ngModel" placeholder="MW or TR">
                <span class="error-message" *ngIf="aindaypatterncontrol.invalid && aindaypatterncontrol.touched">
                    <small *ngIf="aindaypatterncontrol.errors?.['required']"> Required </small>
                </span>
            </div>
            
            <div class="pure-control-group">
                <label for="abutime"> Abu Dhabi Time </label>
                <input required pattern = "^([01][0-9]|2[0-3]):[0-5][0-9]$" type="text" id="abutime" [(ngModel)]="abuDhabiGrid.time" name="abutime" #abutimecontrol="ngModel" placeholder="14:30">
                <span class="error-message" *ngIf="abutimecontrol.invalid && abutimecontrol.touched">
                    <small *ngIf="abutimecontrol.errors?.['required']"> Required </small>
                    <small *ngIf="abutimecontrol.errors?.['min']"> Time cannot be earlier than 09:00 </small>
                    <small *ngIf="abutimecontrol.errors?.['max']"> Time cannot be later than 22:30 </small>
                </span>
            </div>

            <div class="pure-control-group">
                <label for="aintime"> Al Ain Time </label>
                <input required pattern = "^([01][0-9]|2[0-3]):[0-5][0-9]$" type="text" id="aintime" [(ngModel)]="alAinGrid.time" name="aintime" #aintimecontrol="ngModel" placeholder="14:30">
                <span class="error-message" *ngIf="aintimecontrol.invalid && aintimecontrol.touched">
                    <small *ngIf="aintimecontrol.errors?.['required']"> Required </small>
                    <small *ngIf="aintimecontrol.errors?.['min']"> Time cannot be earlier than 09:00 </small>
                    <small *ngIf="aintimecontrol.errors?.['max']"> Time cannot be later than 22:30 </small>
                </span>
            </div>

            <div style="align-self: end;">
                <m-aha *ngIf ="successMessage" type="success" header="Success">
                   Session Added 
                   </m-aha>
                   <m-aha *ngIf ="errorMessage" type="error" header="Error">
                   Session Not Added
                   </m-aha>
             </div>

             <div style="align-self: end;">
                <button type="button" class= "pure-button-group12" (click)="addSection(userForm, 'local')">Add Session </button>
                </div>

             <div style="align-self: end;">
                <button type="button" class= "pure-button-group12" (click)="addSection(userForm, 'remote')">Add Session to Server</button>
                </div>

        </fieldset>

        <h1> Sessions Selected </h1>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th> Slot </th>
                <th> Day Pattern </th>
                <th> Time </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of localListOfListOfAbuDhabiGrid">
                <td>{{course.slot}}</td>
                <td>{{course.daypattern}}</td>
                <td>{{course.time}}</td>
          </tr>
        </tbody>  
        <tbody>
            <tr *ngFor="let course of localListOfListOfAlAinGrid">
                <td>{{course.slot}}</td>
                <td>{{course.daypattern}}</td>
                <td>{{course.time}}</td>
          </tr>
        </tbody>  
